# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Packages
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
bin/
var/
sdist/
develop-eggs/
.installed.cfg
*.egg-info
lib/
lib64/
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtual Environments
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Environments
.env
.env.*

# PyCharm project files
.idea/

# VS Code project files
.vscode/

# macOS folder attributes
.DS_Store

# Python-specific logs and dumps
*.log
*.pot
*.mo
*.pyo
*.pyd
*.pdb
*.stackdump

# pytest
.cache

# Coverage reports
coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
htmlcov/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# Cython debug symbols
cython_debug/

# pyenv
.python-version

# Test results
test-results/

# Other
*.tmp
